.wrapper{background-color: #f6f6f6;padding-top: .4rem;padding-bottom: .4rem;}
.order-item{border: 1px solid #cccccc;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;padding: 0 15px;width: 6.5rem;margin:0 auto .3rem auto;background-color: #ffffff;font-size: 0.28rem;}
.order-item .order-no0209{color: #333333;line-height: 0.84rem;height: 0.84rem;padding-left: 0.14rem;}
.order-item .order-detail0209{display: flex;display: -webkit-flex;flex-direction: column;justify-content: center;border-width: 1px 0; border-style: solid;border-color: #cccccc;padding: .1rem 0;}
.order-detail0209 .detail-item0209{display: flex;display: -webkit-flex;flex-direction: row;line-height: .38rem;}
.detail-item0209 em:first-child{flex: 3;color: #aaaaaa;padding-left: 0.14rem;}
.detail-item0209 em:last-child{flex: 7;word-break: break-all;}
.order-item .flex-p0209{display: flex;flex-direction: row;justify-content: space-between;}
.order-item .flex-p0209>span{color: #666666;}
.order-no0209 span>em{margin-left: .1rem;}
.order-item .flex-p0209>a{color: #3974bb;}
.orange{color: #ffa73d;}
.warn{color: #cc0000;}
.success{color: #009900;}