<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.efrobot.weixin.baseapi.AreaMapper" >
  <resultMap id="BaseResultMap" type="com.efrobot.weixin.baseapi.pojo.Area" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="area" property="area" jdbcType="VARCHAR" />
    <result column="price" property="price" jdbcType="INTEGER" />
    <result column="discount" property="discount" jdbcType="INTEGER" />
    <result column="exp1" property="exp1" jdbcType="VARCHAR" />
    <result column="exp2" property="exp2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, area, price, discount, exp1, exp2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from area
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from area
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.efrobot.weixin.baseapi.pojo.Area" >
  <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into area (area, price, 
      discount, exp1, exp2
      )
    values (#{area,jdbcType=VARCHAR}, #{price,jdbcType=INTEGER}, 
      #{discount,jdbcType=INTEGER}, #{exp1,jdbcType=VARCHAR}, #{exp2,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.efrobot.weixin.baseapi.pojo.Area" >
  <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into area
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="area != null" >
        area,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="discount != null" >
        discount,
      </if>
      <if test="exp1 != null" >
        exp1,
      </if>
      <if test="exp2 != null" >
        exp2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="area != null" >
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        #{discount,jdbcType=INTEGER},
      </if>
      <if test="exp1 != null" >
        #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        #{exp2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.efrobot.weixin.baseapi.pojo.Area" >
    update area
    <set >
      <if test="area != null" >
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=INTEGER},
      </if>
      <if test="discount != null" >
        discount = #{discount,jdbcType=INTEGER},
      </if>
      <if test="exp1 != null" >
        exp1 = #{exp1,jdbcType=VARCHAR},
      </if>
      <if test="exp2 != null" >
        exp2 = #{exp2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.efrobot.weixin.baseapi.pojo.Area" >
    update area
    set area = #{area,jdbcType=VARCHAR},
      price = #{price,jdbcType=INTEGER},
      discount = #{discount,jdbcType=INTEGER},
      exp1 = #{exp1,jdbcType=VARCHAR},
      exp2 = #{exp2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getArea" resultMap="BaseResultMap" parameterType="com.efrobot.weixin.baseapi.pojo.Area" >
    select 
    <include refid="Base_Column_List" />
    from area
  </select>
  <select id="selectByParms" resultMap="BaseResultMap"
		parameterType="com.efrobot.weixin.baseapi.pojo.Area">
		select
		<include refid="Base_Column_List" />
		from area
		where 1=1
		<if test="area != null and !area.isEmpty() and area != ''">
			and area = #{area,jdbcType=VARCHAR}
		</if>
		<if test="id != null">
			and id = #{id,jdbcType=INTEGER}
		</if>
	</select>
</mapper>