<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="../../resources/css/style.css">
  <link rel="stylesheet" href="../../resources/css/orderList.css">
  <script type="text/javascript" src="../../resources/js/rem.js"></script>
</head>
<body>
<div class="order-body">
  <section class="order-item">
    <p class="order-no0209" style="display: flex; display: -webkit-flex; justify-content: space-between;"><span>订单编号：<em>201709093123</em></span><span>订单状态：<em class="orange">已支付</em></span></p>
    <div class="order-detail0209">
      <p class="order-detail-tip">请前往XXXXX处提交行李小票，办理托运业务</p>
      <h3 class="order-deal-header">行李信息</h3>
      <div class="order-deal-box" style="border: 0;">
        <div class="order-deal-item"><span class="label">航班号：</span><span class="content">CA1987</span></div>
        <div class="order-deal-item"><span class="label">日期：</span><span class="content">2017.09.18</span></div>
        <div class="order-deal-item"><span class="label">行李数量：</span><span class="content">2</span></div>
        <div class="order-deal-item"><span class="tip">行李内无贵重、易碎、违禁物品</span></div>
      </div>
      <h3 class="order-deal-header">收货地址</h3>
      <div class="order-deal-box" style="border: 0; margin-bottom: 0;">
        <div class="order-deal-item"><span class="label">收件人：</span><span class="content">麻花藤</span></div>
        <div class="order-deal-item"><span class="label">联系方式：</span><span class="content">15645552321</span></div>
        <div class="order-deal-item"><span class="label">详细地址：</span><span class="content">北京市海淀区西三环北路紫金大厦19号5单元1111</span></div>
      </div>
    </div>
    <a href="javascript:;" class="btn btn-lg" style="margin-top: .2rem;">取消订单</a>
  </section>

</div>
</body>
</html>